@media (max-width: 768px) and (min-width: 480px) {
    main {
        display: flex;
        flex-direction: column;
    }

    .card-subtitle {
        font-size: 1.2rem;
        font-weight: 400;
        margin: 1rem 0;
        text-align: center;
    }
    .card-title {
        font-size: 2.125rem;
        margin-bottom: 0.5rem;
        line-height: 1.1;
        font-weight: 600;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    .main-info-container {
        text-align: center;
    }
}

@media (min-width: 550px) and (max-width: 949px) {
    
}

@media (orientation: portrait) and (min-width: 400px) and (max-width: 549px) {

}

@media (orientation: portrait) and (min-width: 350px) and (max-width: 399px) {

}