@media (max-width: 768px) and (min-width: 480px) {
    .test {
        width: 100%;
        height: 200px;
        background-color: yellowgreen;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    .card-subtitle {
        font-size: 1.2rem;
        font-weight: 400;
        margin: 1rem 0;
    }
}