@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@font-face {
    font-family: 'Netflix Sans';
    src: url("./assets/Netflix\ Sans-fontiko/") format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
}

body {
    font-family: "Netflix Sans", sans-serif;
}

/* FONTS */
.card-title {
    font-size: 3.125rem;
    margin-bottom: 0.5rem;
    line-height: 1.1;
    font-weight: 600;
    text-align: center;
}
.card-subtitle {
    font-size: 1.625rem;
    font-weight: 400;
    margin: 1rem 0;
}
.email-form-title {
    font-size: 1.2rem;
    font-weight: 400;
    padding-bottom: 20px;
}

nav {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 150px;
    padding-top: 45px;
}

.logo {
    height: 40px;
    width: 148px;
}

nav > a {
    padding: 4px 16px;
    background-color: rgb(229, 9, 20);
    color: white;
    border: none;
    text-decoration: none;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

/* banner-wrap */
header {
    background-image: url(./assets/bgimage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vw;
    border-bottom: 10px solid #222222;
    position: relative;
    z-index: 1;
}

.overlay {
    height: 100%;
    width: 100%;
    background: black;
    top: 0px;
    opacity: 60%;
    z-index: -1;
    position: absolute;
}

/* TEMP */
/* h1::after {
    content: 'THIS IS A HEADING';
    color: orange;
} */

.banner-container {
    color: white;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: calc(100% - 45px);
}

.get-started-form{
    height: 60px;
    display: flex;
} 
.get-started-form input {
    width: 450px;
    height: 100%;
    padding-left: 12px;
}
.get-started-form button {
    background-color: rgb(229, 9, 20);
    color: white;
    height: 100%;
    padding: 12px 24px;
    font-size: 1.125rem;
    min-height: 60px;
    border: none;
    border-left: 1px solid black;
}

/* info-container */
main {
    background-color: black;
    color: white;
    display: flex;
    padding: 70px 45px;
    border-bottom: 10px solid #222222;
    z-index: -1;
    align-items: center;
}

/* info-container */
.main-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* TEMP */
/* .main-info-container > p::first-letter {
    color: red;
} */

.tv-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tv-container img {
    z-index: 1;
}
.tv-container video {
    position: absolute;
    top: 100px;
    z-index: 0;
}

/* FOOTER STYLES */
footer {
    background-color: black;    
}
.footer-items {
    margin: 0 47.5px;
    padding: 70px 45px;
}

.footer-top {
    margin-bottom: 30px;
}

footer ul li, .questions-title {
    color: #757575;
    text-decoration: none;
}
footer ul li:hover, .questions-title:hover{
    text-decoration: underline;
    cursor: pointer;
}

.footer-link {
    list-style-type: none;
    columns: 3;
}
.footer-link li {
    font-size: 13px;
    line-height: 2;
}
.language {
    color: #999999;
    height: 53px;
    width: 142px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid #999999;
    padding: 0 10px;
    margin-top: 30px;
}
.language select {
    padding: 10px 28px 10px 10px;
    border: none;
    appearance: none;
    color: #999999; 
    background-color: black;
    color: #999999;
    background-image: url("./assets/carot.webp");
    background-repeat: no-repeat;
    background-position: right 8px center;
    background-size: 12px;
}
.language img {
    margin-left: 4px;
    width: 12px;
}


